*{
	padding: 0;
	margin:0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 28px;
}
span
{
	font-size: 16px;
}
.firstWraper{
	background-color: #000;
}
.secondWraper{
	background-color: #FFF;
}
.container{
	width:960px;
	margin: auto;
}
.subMenu{
	background-color:#19232d;
	font-family: arial;
	font-size: 12px;
	font-weight: 300;
}
.subMenuLeft{
	float:left;
	margin-left:100px;
}
.subMenuRight{
	float: right;
}
.subMenuLeft li,.subMenuRight li
{
	float: left
}
.subMenuLeft a
{
	display: block;
	color: #627588;
	padding:10px;
}
.subMenuLeft a:hover
{
	background-color: #000;
	color: #FFF;
}
.subMenuRight a
{
	text-decoration: none;
	display: block;
	color: #FFF;
	padding:10px;
}

.headerMenu
{
	float: right;
	width:100%;
}
.headerMenu li
{
	float: right;
	border-left:1px solid #ededed;
}
.headerMenu a
{
	display: block;
	color: #19232d;
    font-weight: 600;
    padding:25px 10px;
}
.headerMenu li:first-child
{
	background-color:#eeeeee;
	border-right:1px solid #ededed;
}

.headerMenu .clear
{
	padding:0;
}
header .container
{
	position: relative;
}
.NFHSLogo
{
	position: absolute;
	background-image: url('../img/NFHSLogo.png');
	left:310px;
	top:0;
	width:190px;
	height: 123px;
	z-index:1000;
}
.banner
{
	background-image: url('../img/banner.jpg');
	height: 443px;
	margin-bottom: 60px;
}
.bannerContent
{
	width:510px;
	padding-top:150px;
	padding-left: 90px;
}
.bannerContent h2
{
  color: #FFF;
  font-family: "arial";
  text-transform: uppercase;
}
.bannerContent p
{
	font-size: 14px;
	color: #82878b;
	font-family: "arial";
	line-height: 1.357;
	margin-bottom: 10px;
	padding-right:25px;
}
.bannerContent h3
{
  color:#eeeeee;
  font-family: SourceSansPro, sans-serif; 
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 200;
}
.bannerContent .learnMore
{
	font-size: 18px;
	font-family: MyriadPro;
	border:2px solid #004e94;
	border-radius: 4px;
	background-color: #004e94;
	padding:5px 20px;
	color: #eeeeee;
}
.courseDelieverAndCount h1
{
	font-size: 36px;
	text-align: center;
	color: #cd091d;
	margin-bottom: 60px;
}
.map
{
	background-image: url('../img/map.png');
	width:65px;
	height: 30px;
}
.building
{
	background-image: url('../img/building.png');
	width: 36px;
	height: 43px;	
}
.threeHeads
{
	background-image: url('../img/threeHeads.png');
	width: 52px;
	height: 30px;
}
.delieveredCount
{
	margin-bottom: 60px;
}
.courseDelieverAndCount .countDescription
{
	font-size: 24px;
	color: #000;
	font-weight: 800;
	display: inline-block;
	width:185px;
	vertical-align: middle;
}
.courseDelieverAndCount .countPicture
{
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}
.courseDelieverAndCount h3
{
	text-align: center;
	color: #cd091d;
	margin-bottom: 60px;
}
h3 span
{
	color: #82878b;
	font-family: Myriad Pro Regular;
	font-style: normal;
	font-weight: 200;
	letter-spacing: 2px;
}
.delieveredCount li
{
	display: inline-block;
	margin:0 20px;
	vertical-align: middle;
}
.sponsers
{
	background-color: #eeeeee;
	padding:25px 15px;
	margin-bottom: 45px;
}
.sponsersList li
{
	margin:0 17px;
	display: inline-block;
	vertical-align: middle;
}
.advertisement
{
	width:610px;
	height: 77px;
	margin:0 auto;
	margin-bottom: 50px;
}
.advertisement img
{
	width:100%;
	height: 100%;
}
.recommendedCourse
{
	background-image: url('../img/findCourseBackground.jpg');
	padding:35px 0;
	margin-bottom: 50px;
}
.recommendedCourse h2
{
	text-align: center;
	color: #FFF;
	font-family: Myriad Pro Regular;
	font-weight: 700;
	margin-bottom: 35px;
}
input {
  border: 1px solid #FFF;	
  border-radius: 4px;
  width: 248px;
  height: 33px;
  margin-right: 20px;
}
.btn {
  border: 1px solid #004e94;	
  border-radius: 4px;
  width: 128px;
  height: 35px;
  color: #eeeeee;
  font-size: 18px;
  background-color: #004e94;
  font-family: Myriad Pro Regular;
}
.nfhsCoreCourse h3
{
	color: #cd091d;
	text-align: center;
	margin-bottom: 20px;
}
.fundamentalCoachingList li
{
	float: left;
	margin-right: 20px;
}
.fundamentalCoachingList
{
	margin-bottom: 80px;
}
.nfhsSportsSpecificCourse
{
	color: #cd091d;
	font-family: Myriad Pro Regular;
	text-align: center;
}
.sportsSpecificCourseList li
{
	float: left;
	margin-right: 20px;
}
.sportsSpecificCourse
{
	width: 220px;
	height: 156px;
}
.sportsSpecificCourse img
{
	height: 100%;
	width: 100%;
}
.sportsSpecificCourseList span
{
	color: #eeeeee;
	background-color: #FFF;
}
.container .clear
{
	float:none;
	clear:both;
}